In [1]:
import findspark
findspark.init()

In [2]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import *
from pyspark.sql.types import *
from pyspark.sql.functions import *

In [3]:
import os
os.environ['PYSPARK_SUBMIT_ARGS'] = '--packages com.databricks:spark-xml_2.12:0.12.0,org.apache.spark:spark-avro_2.12:3.1.2 pyspark-shell'

In [4]:
spark = SparkSession.builder.getOrCreate()

In [5]:
path = 'C:/Users/ASHOK/Downloads/sample-data/xml/test.xml'

In [6]:
#we have to define row tag,record is row tag of given data file
xmldf = spark.read.format('xml') \
        .option('rowTag', 'record') \
        .load(path)

In [7]:
xmldf.show()

+---+--------+---+
|_id|    name|rid|
+---+--------+---+
|  1|Record 1|  1|
|  2|Record 2|  2|
|  3|Record 3|  3|
+---+--------+---+

In [8]:
import pandas as pd
pandf =xmldf.toPandas()
pandf

   _id      name  rid
0    1  Record 1    1
1    2  Record 2    2
2    3  Record 3    3

In [9]:
avrodf = spark.read.format("avro").load('C:/Users/ASHOK/Downloads/sample-data/avro/userdata1.avro')

In [13]:
avrodf.show(5)

+--------------------+---+----------+---------+--------------------+------+--------------+----------------+------------+---------+---------+--------------------+--------+
|   registration_dttm| id|first_name|last_name|               email|gender|    ip_address|              cc|     country|birthdate|   salary|               title|comments|
+--------------------+---+----------+---------+--------------------+------+--------------+----------------+------------+---------+---------+--------------------+--------+
|2016-02-03T07:55:29Z|  1|    Amanda|   Jordan|    ajordan0@com.com|Female|   1.197.201.2|6759521864920116|   Indonesia| 3/8/1971| 49756.53|    Internal Auditor|   1E+02|
|2016-02-03T17:04:03Z|  2|    Albert|  Freeman|     afreeman1@is.gd|  Male|218.111.175.34|            null|      Canada|1/16/1968|150280.17|       Accountant IV|        |
|2016-02-03T01:09:31Z|  3|    Evelyn|   Morgan|emorgan2@altervis...|Female|  7.161.136.94|6767119071901597|      Russia| 2/1/1960|144972.51| Structural Engineer|        |
|2016-02-03T12:36:21Z|  4|    Denise|    Riley|    driley3@gmpg.org|Female| 140.35.109.83|3576031598965625|       China| 4/8/1997| 90263.05|Senior Cost Accou...|        |
|2016-02-03T05:05:31Z|  5|    Carlos|    Burns|cburns4@miitbeian...|      |169.113.235.40|5602256255204850|South Africa|         |     null|                    |        |
+--------------------+---+----------+---------+--------------------+------+--------------+----------------+------------+---------+---------+--------------------+--------+
only showing top 5 rows

In [12]:
pardf = spark.read.parquet ('C:/Users/ASHOK/Downloads/sample-data/parquet/userdata1.parquet')
pardf.show(5)

+-------------------+---+----------+---------+--------------------+------+--------------+----------------+------------+---------+---------+--------------------+--------+
|  registration_dttm| id|first_name|last_name|               email|gender|    ip_address|              cc|     country|birthdate|   salary|               title|comments|
+-------------------+---+----------+---------+--------------------+------+--------------+----------------+------------+---------+---------+--------------------+--------+
|2016-02-03 13:25:29|  1|    Amanda|   Jordan|    ajordan0@com.com|Female|   1.197.201.2|6759521864920116|   Indonesia| 3/8/1971| 49756.53|    Internal Auditor|   1E+02|
|2016-02-03 22:34:03|  2|    Albert|  Freeman|     afreeman1@is.gd|  Male|218.111.175.34|                |      Canada|1/16/1968|150280.17|       Accountant IV|        |
|2016-02-03 06:39:31|  3|    Evelyn|   Morgan|emorgan2@altervis...|Female|  7.161.136.94|6767119071901597|      Russia| 2/1/1960|144972.51| Structural Engineer|        |
|2016-02-03 06:06:21|  4|    Denise|    Riley|    driley3@gmpg.org|Female| 140.35.109.83|3576031598965625|       China| 4/8/1997| 90263.05|Senior Cost Accou...|        |
|2016-02-03 10:35:31|  5|    Carlos|    Burns|cburns4@miitbeian...|      |169.113.235.40|5602256255204850|South Africa|         |     null|                    |        |
+-------------------+---+----------+---------+--------------------+------+--------------+----------------+------------+---------+---------+--------------------+--------+
only showing top 5 rows

In [15]:
jsondf = spark.read.json('C:/Users/ASHOK/Downloads/sample-data/json/colors.json')
jsondf.show(5)

+--------+--------------------+------+------+-------+
|category|                code| color| other|   type|
+--------+--------------------+------+------+-------+
|     hue|{#000, [255, 255,...| black|{good}|primary|
|   value|{#FFF, [0, 0, 0, 1]}| white|{good}|   null|
|     hue|{#FF0, [255, 0, 0...|   red|  {ok}|primary|
|     hue|{#00F, [0, 0, 255...|  blue|{good}|primary|
|     hue|{#FF0, [255, 255,...|yellow|  {ok}|primary|
+--------+--------------------+------+------+-------+
only showing top 5 rows

In [16]:
csvdf = spark.read.option("header", True).csv ('C:/Users/ASHOK/Desktop/Courses/spark/Datasets/csv/StudentsPerformance.csv')
csvdf.show(5)

+--------------------+---+----------+---------+--------------------+------+--------------+----------------+------------+---------+---------+--------------------+--------+
|   registration_dttm| id|first_name|last_name|               email|gender|    ip_address|              cc|     country|birthdate|   salary|               title|comments|
+--------------------+---+----------+---------+--------------------+------+--------------+----------------+------------+---------+---------+--------------------+--------+
|2016-02-03T07:55:29Z|  1|    Amanda|   Jordan|    ajordan0@com.com|Female|   1.197.201.2|6759521864920116|   Indonesia| 3/8/1971| 49756.53|    Internal Auditor|   1E+02|
|2016-02-03T17:04:03Z|  2|    Albert|  Freeman|     afreeman1@is.gd|  Male|218.111.175.34|            null|      Canada|1/16/1968|150280.17|       Accountant IV|    null|
|2016-02-03T01:09:31Z|  3|    Evelyn|   Morgan|emorgan2@altervis...|Female|  7.161.136.94|6767119071901597|      Russia| 2/1/1960|144972.51| Structural Engineer|    null|
|2016-02-03T12:36:21Z|  4|    Denise|    Riley|    driley3@gmpg.org|Female| 140.35.109.83|3576031598965625|       China| 4/8/1997| 90263.05|Senior Cost Accou...|    null|
|2016-02-03T05:05:31Z|  5|    Carlos|    Burns|cburns4@miitbeian...|  null|169.113.235.40|5602256255204850|South Africa|     null|     null|                null|    null|
+--------------------+---+----------+---------+--------------------+------+--------------+----------------+------------+---------+---------+--------------------+--------+
only showing top 5 rows